<div class="hidden md:inline-block z-20 socials fixed top-1/2 transform -translate-y-1/2">
    <ul class="flex transform -rotate-180">
        <li> <a href="" class="text-lg text-gray-200 transition-all ease duration-200 hover:text-black">dribbble</a>

        </li>
        <li> <a href="" class="text-lg text-gray-200 transition-all ease duration-200 hover:text-black">behance</a>

        </li>
        <li> <a href="" class="text-lg text-gray-200 transition-all ease duration-200 hover:text-black">facebook</a>

        </li>
        <li> <a href="" class="text-lg text-gray-200 transition-all ease duration-200 hover:text-black">medium</a>

        </li>
    </ul>
</div>